<div [ngClass]="{ 'ui-splitbutton ui-buttonset ': true, 'has-other-buttons': hasOtherButtons }" (focusout)="onFocusOut($event)">
    <ng-content select="ac-split-button-main"></ng-content>
    <ng-container *ngIf="hasOtherButtons">
        <button type="button" pButton class="ui-splitbutton-menubutton btn" icon="fa-caret-down" cornerStyleClass="ui-corner-right" (click)="toggleMenu()"></button>
    </ng-container>
    <div #otherButtonsWrapper [ngClass]="'ui-menu ui-menu-dynamic ui-corner-all ui-helper-clearfix ui-shadow'" [style.display]="menuVisible ? 'block' : 'none'">
        <ng-content select="ac-split-button-others"></ng-content>
    </div>
</div>
