<div class="entity-search operacion-search">
    <div class="entity-search-field">
        <label jhiTranslate="userManagement.filters.name.label"></label>
        <input
            class="form-control"
            [attr.aria-label]="'userManagement.filters.name.placeholder' | translate"
            placeholder="{{ 'userManagement.filters.name.placeholder' | translate }}"
            [(ngModel)]="filters.name"
            (keyup)="filter()"
        />
    </div>

    <div class="entity-search-field">
        <label jhiTranslate="userManagement.filters.email.label"></label>
        <input
            class="form-control"
            [attr.aria-label]="'userManagement.filters.email.placeholder' | translate"
            placeholder="{{ 'userManagement.filters.email.placeholder' | translate }}"
            [(ngModel)]="filters.email"
            (keyup)="filter()"
        />
    </div>

    <div class="entity-search-field">
        <label for="role" jhiTranslate="userManagement.filters.rol.label"></label>
        <ac-autocomplete-enum
            name="role"
            [(ngModel)]="filters.role"
            [suggestionsEnum]="roleEnum"
            [translationPath]="'coetlApp.rol.roles.'"
            (onSelect)="filter()"
            (onUnselect)="filter()"
        ></ac-autocomplete-enum>
    </div>

    <div class="entity-search-field">
        <label for="organism" jhiTranslate="userManagement.filters.organismo.label"></label>
        <ac-autocomplete
            [disabled]="filters.role == 'ADMIN'"
            [multiple]="false"
            class=""
            name="organism"
            [(ngModel)]="filters.organism"
            [suggestions]="allOrganismos"
            [itemTemplate]="organismosItemTemplate"
            [required]="false"
            (onSelect)="filter()"
            (onUnselect)="filter()"
        >
        </ac-autocomplete>
    </div>

    <div class="entity-search-field">
        <label jhiTranslate="userManagement.home.includeDeleted"></label>
        <ac-tri-input-switch [(ngModel)]="filters.includeDeleted" (onChange)="filter()" [required]="true"></ac-tri-input-switch>
    </div>

    <div class="entity-search-field-btn">
        <button class="btn btn-default" (click)="resetFilters()">
            <i class="fa fa-times"></i>
            <span jhiTranslate="entity.action.filtersReset"></span>
        </button>
    </div>
</div>
