<form name="modalEditForm" role="form" novalidate (ngSubmit)="save()" #modalEditForm="ngForm">
    <div class="modal-header">
        <h4 class="modal-title">
            <span *ngIf="!parameter.id" jhiTranslate="coetlApp.parameter.home.createLabel"></span>
            <span *ngIf="!!parameter.id">{{ parameter.key }}</span>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <fieldset>
            <div class="entity-fields">
                <div class="form-group full-width">
                    <label class="form-control-label" jhiTranslate="coetlApp.parameter.key" for="field_key"></label>
                    <input type="text" [disabled]="!!parameter.id" class="form-control" name="key" id="field_key" required [(ngModel)]="parameter.key" maxlength="255" />
                </div>
                <div class="form-group full-width">
                    <label class="form-control-label" jhiTranslate="coetlApp.parameter.value" for="field_value"></label>

                    <input [type]="!isPassword || fieldTextType ? 'text' : 'password'" class="form-control" name="value" id="field_value" [(ngModel)]="parameter.value" required />
                    <span *ngIf="isPassword">
                        <div class="form-group-append">
                            <span class="input-group-text">
                                <i
                                    class="fa"
                                    [ngClass]="{
                                  'fa-eye-slash': !fieldTextType,
                                  'fa-eye': fieldTextType }"
                                    (click)="toggleFieldTextType()"
                                ></i>
                            </span>
                        </div>
                    </span>
                </div>
                <div class="form-group full-width">
                    <label class="form-control-label" jhiTranslate="coetlApp.parameter.description.label" for="field_description"></label>
                    <input type="text" class="form-control" name="description" id="field_description" [(ngModel)]="parameter.description" required />
                </div>
                <div class="form-group full-width">
                    <label class="form-control-label" jhiTranslate="coetlApp.parameter.typology.label" for="field_typology"></label>
                    <select name="typology" [(ngModel)]="parameter.typology" (change)="isPasswordTypology($event)">
                        <option *ngFor="let typology of keys(typologyEnum)" [ngValue]="typology">{{typology}}</option>
                    </select>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <div class="col-sm-8 text-right">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
                <span class="fa fa-ban"></span>&nbsp;
                <span jhiTranslate="entity.action.cancel"></span>
            </button>
            <button type="submit" [disabled]="modalEditForm.form.invalid" class="btn btn-primary">
                <span class="fa fa-save"></span>&nbsp;
                <span jhiTranslate="entity.action.save"></span>
            </button>
        </div>
    </div>
</form>
