<p-autoComplete
    [multiple]="multiple"
    [(ngModel)]="selectedSuggestions"
    [suggestions]="filteredSuggestions"
    (completeMethod)="onCompleteMethod($event)"
    [dropdown]="!debouncedMode"
    (onDropdownClick)="handleDropdownSuggestions($event)"
    (onBlur)="handleOnFocusOutSuggestions($event)"
    [minLength]="minLength"
    [emptyMessage]="emptyMessage"
    [forceSelection]="!multiple"
    [field]="field"
    [placeholder]="placeholder"
    (onSelect)="onSelectMethod($event)"
    (onUnselect)="onUnselectMethod($event)"
    (onClear)="onClearMethod($event)"
    [required]="required"
    [disabled]="disabled"
    #autocompleteInput="ngModel"
    [styleClass]="selectedSuggestions && selectedSuggestions.length > 0 ? '' : 'is-empty'"
>
    <ng-template let-item pTemplate="item"> {{ internalItemTemplate(item) }} <span class="create-new-item-label">{{ itsNewSuggestion(item) }}</span> </ng-template>
    <ng-template let-item pTemplate="selectedItem">
        {{ internalItemTemplate(item) }}
    </ng-template>
</p-autoComplete>
<div *ngIf="required && ((autocompleteInput.touched || autocompleteInput.dirty) && autocompleteInput.invalid)" class="entity-field-error">
    <small class="form-text text-danger" *ngIf="autocompleteInput.errors.required" jhiTranslate="entity.validation.required"> </small>
</div>
