@import '~scss/variables';
@import '~scss/mixins';

:host {
    border-radius: $border-radius;

    /deep/ .ui-autocomplete {
        .ui-autocomplete-token {
            &.ui-state-highlight {
                border-color: $grey-light;
                background: $grey-light;
                color: $black;
            }
        }

        .create-new-item-label {
            color: $grey-medium;
            font-style: italic;
        }
        input {
            @include placeholder {
                color: $grey-medium;
            }
        }
        &.is-empty {
            .ui-autocomplete-input-token {
                width: 100%;
                padding-right: $primeng-dropdown-button-width;
            }
            input {
                width: 100%;

                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}

/deep/ {
    .ui-autocomplete-dd input.ui-corner-all,
    .ui-autocomplete-dd .ui-autocomplete-multiple-container.ui-corner-all,
    .ui-autocomplete-dd .ui-autocomplete-dropdown.ui-corner-all {
        -moz-border-radius-topright: $border-radius;
        -webkit-border-top-right-radius: $border-radius;
        border-top-right-radius: $border-radius;
        -moz-border-radius-bottomright: $border-radius;
        -webkit-border-bottom-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }
}

fieldset .form-group :host {
    border-left: $border-required-none;
}

fieldset:enabled .form-group :host:not(.disabled) {
    &[required],
    &:required {
        border-left: $border-required-error;
        &.ng-valid {
            border-left: $border-required-valid;
        }
    }
}

fieldset[disabled],
fieldset:disabled {
    .entity-fields .form-group {
        :host {
            /deep/ .ui-autocomplete {
                @extend %disabled-autocomplete;
            }
        }
    }
}

:host.disabled {
    /deep/ .ui-autocomplete {
        @extend %disabled-autocomplete;
    }
}

%disabled-autocomplete {
    cursor: initial;
    .fa-close {
        display: none;
    }
    .ui-autocomplete-token {
        padding-right: 0.5em;
    }
    .ui-autocomplete-dropdown {
        display: none;
    }
    .ui-state-default:hover {
        border-bottom: none;
    }
    input::placeholder {
        opacity: 0;
    }
}
