<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm" *ngIf="user">
    <h2>
        <div>
            <button
                *ngIf="!isEditMode()"
                type="button"
                routerLink="/user-management"
                class="btn btn-secondary btn-frameless back-arrow"
                [attr.aria-label]="'entity.action.back' | translate"
            >
                <span class="fa fa-arrow-left"></span>
            </button>
            <i class="fa fa-fw fa-user" aria-hidden="true"></i>
            <span *ngIf="!user.id" jhiTranslate="userManagement.home.createLabel"></span>
            <span *ngIf="user.id">{{ user.login }}</span>
        </div>
        <div>
            <ng-container *ngIf="permissionService.puedeNavegarUserManagement()">
                <button *ngIf="!isEditMode()" class="btn btn-secondary jh-create-entity" [routerLink]="['/user-management', user.login, 'edit']" type="button">
                    <span class="fa fa-pencil"></span>&nbsp;
                    <span jhiTranslate="entity.action.edit"></span>
                </button>
            </ng-container>
            <ng-container *ngIf="permissionService.puedeNavegarUserManagement()">
                <button *ngIf="isEditMode()" type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <span class="fa fa-floppy-o"></span>&nbsp;
                    <span jhiTranslate="entity.action.save"></span>
                </button>
            </ng-container>
            <ng-container>
                <button *ngIf="isEditMode()" type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                    <span class="fa fa-ban"></span>&nbsp;
                    <span jhiTranslate="entity.action.cancel"></span>
                </button>
            </ng-container>
            <ng-container *ngIf="permissionService.puedeNavegarUserManagement()">
                <button *ngIf="!isEditMode() && user.deletionDate" type="button" class="btn btn-warning" (click)="restore(user.login)">
                    <span class="fa fa-repeat"></span>&nbsp;
                    <span jhiTranslate="entity.action.activate"></span>
                </button>
            </ng-container>
            <ng-container *ngIf="permissionService.puedeNavegarUserManagement()">
                <button
                    *ngIf="!isEditMode() && !user.deletionDate"
                    type="button"
                    class="btn btn-danger"
                    [routerLink]="['/', { outlets: { popup: 'user-management/' + user.login + '/delete' } }]"
                >
                    <span class="fa fa-remove"></span>&nbsp;
                    <span jhiTranslate="entity.action.deactivate"></span>
                </button>
            </ng-container>
        </div>
    </h2>

    <fieldset [disabled]="!isEditMode()" acAutofocus>
        <h3 jhiTranslate="userManagement.personalData"></h3>
        <div class="entity-fields">
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="userManagement.login"></label>
                <input
                    type="text"
                    [disabled]="user.id"
                    class="form-control"
                    name="login"
                    #loginInput="ngModel"
                    [(ngModel)]="user.login"
                    required
                    minlength="1"
                    maxlength="255"
                    pattern="^[_'.@A-Za-z0-9-]*$"
                    (keyup)="toLowerCase()"
                />

                <div *ngIf="loginInput.touched || loginInput.dirty" class="entity-field-error">
                    <ng-container *ngIf="loginInput.invalid">
                        <small class="form-text text-danger" *ngIf="loginInput.errors.required" jhiTranslate="entity.validation.required"> </small>
                        <small class="form-text text-danger" *ngIf="loginInput.errors.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 255 }"> </small>
                    </ng-container>
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label" jhiTranslate="userManagement.nombre"></label>
                <input type="text" class="form-control" name="nombre" #nombreInput="ngModel" [(ngModel)]="user.nombre" maxlength="255" />

                <div *ngIf="nombreInput.dirty && nombreInput.invalid" class="entity-field-error">
                    <small class="form-text text-danger" *ngIf="nombreInput.errors.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 255 }"> </small>
                </div>
            </div>

            <div class="form-group">
                <label jhiTranslate="userManagement.apellido1"></label>
                <input type="text" class="form-control" name="apellido1" #apellido1Input="ngModel" [(ngModel)]="user.apellido1" maxlength="255" />

                <div *ngIf="apellido1Input.dirty && apellido1Input.invalid" class="entity-field-error">
                    <small class="form-text text-danger" *ngIf="apellido1Input.errors.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 255 }"> </small>
                </div>
            </div>

            <div class="form-group">
                <label jhiTranslate="userManagement.apellido2"></label>
                <input type="text" class="form-control" name="apellido2" #apellido2Input="ngModel" [(ngModel)]="user.apellido2" maxlength="255" />

                <div *ngIf="apellido2Input.dirty && apellido2Input.invalid" class="entity-field-error">
                    <small class="form-text text-danger" *ngIf="apellido2Input.errors.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 255 }"> </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="userManagement.email"></label>
                <input type="email" class="form-control" name="email" #emailInput="ngModel" [(ngModel)]="user.email" minlength="3" required maxlength="255" email />
                <div *ngIf="(emailInput.touched || emailInput.dirty) && emailInput.invalid" class="entity-field-error">
                    <small class="form-text text-danger" *ngIf="emailInput.errors.required" jhiTranslate="entity.validation.required"> </small>
                    <ng-container *ngIf="emailInput.dirty">
                        <small class="form-text text-danger" *ngIf="emailInput.errors.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 255 }"> </small>

                        <small class="form-text text-danger" *ngIf="emailInput.errors.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 3}"> </small>

                        <small class="form-text text-danger" *ngIf="emailInput.errors.email" jhiTranslate="global.messages.validate.email.invalid"> </small>
                    </ng-container>
                </div>
            </div>
        </div>
        <h3 jhiTranslate="userManagement.userActive"></h3>
        <div class="entity-fields">
            <div class="form-group full-width">
                <label jhiTranslate="userManagement.activado"></label>
                <ac-tri-input-switch [disabled]="true" name="activado" [ngModel]="!user.deletionDate"></ac-tri-input-switch>
            </div>
            &nbsp;
        </div>
        <h3 jhiTranslate="userManagement.permissions"></h3>
        &nbsp;
        <div class="entity-fields">
            <div class="form-group">
                <input type="text" class="form-control" readonly value="{{ roleEnum.ADMIN }}" name="field_rol_{{ roleEnum.ADMIN }}" />
            </div>
            <div class="form-group">
                <ac-tri-input-switch name="field_rol_{{ roleEnum.ADMIN }}" [(ngModel)]="user.isAdmin" class="form-control" [disabled]="isEditItSelf"></ac-tri-input-switch>
            </div>
        </div>
        <div class="entity-fields" *ngIf="!user.isAdmin">
            <div class="form-group">
                <input type="text" class="form-control" readonly value="{{ roleEnum.TECNICO }}" name="field_rol_{{ roleEnum.TECNICO }}" />
            </div>
            <div class="form-group">
                <ac-autocomplete
                    [disabled]="isEditItSelf"
                    [multiple]="true"
                    class="form-control"
                    name="organismos_{{ roleEnum.TECNICO }}"
                    [(ngModel)]="organismosSelectedTECNICO"
                    [suggestions]="allOrganismos"
                    [itemTemplate]="organismosItemTemplate"
                    [required]="false"
                >
                </ac-autocomplete>
            </div>
        </div>
        <div class="entity-fields" *ngIf="!user.isAdmin">
            <div class="form-group">
                <input type="text" class="form-control" readonly value="{{ roleEnum.LECTOR }}" name="field_rol_{{ roleEnum.LECTOR }}" />
            </div>
            <div class="form-group">
                <ac-autocomplete
                    [disabled]="isEditItSelf"
                    [multiple]="true"
                    class="form-control"
                    name="organismos_{{ roleEnum.LECTOR }}"
                    [(ngModel)]="organismosSelectedLECTOR"
                    [suggestions]="allOrganismos"
                    [itemTemplate]="organismosItemTemplate"
                    [required]="false"
                >
                </ac-autocomplete>
            </div>
        </div>
    </fieldset>
    <ac-audit-info [entity]="user"></ac-audit-info>
</form>
