<div class="entity" acMakeFixedRoom>
    <div class="entity-header">
        <h2>
            <span jhiTranslate="userManagement.home.title"></span>
            <button *ngIf="permissionService.puedeNavegarUserManagement()" class="btn btn-secondary float-right jh-create-entity" [routerLink]="['../user-management-new']">
                <span class="fa fa-plus"></span>
                <span jhiTranslate="userManagement.home.createLabel"></span>
            </button>
        </h2>
        <ac-user-search [filters]="userFilter"></ac-user-search>
    </div>
    <ng-container *ngIf="users">
        <ng-container *ngIf="users.length > 0; else emptyList">
            <div class="table-responsive">
                <table class="table table-hover" acStickyTableHeader>
                    <thead>
                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                            <th style="width: 15%" jhiSortBy="login">
                                <span jhiTranslate="userManagement.login"></span>
                                <span class="fa fa-sort order-by-class"></span>
                            </th>
                            <th style="width: 15%" jhiSortBy="nombre">
                                <span jhiTranslate="userManagement.nombre"></span>
                                <span class="fa fa-sort order-by-class"></span>
                            </th>
                            <th style="width: 15%" jhiSortBy="apellido1">
                                <span jhiTranslate="userManagement.apellido1"></span>
                                <span class="fa fa-sort order-by-class"></span>
                            </th>
                            <th style="width: 15%" jhiSortBy="apellido2">
                                <span jhiTranslate="userManagement.apellido2"></span>
                                <span class="fa fa-sort order-by-class"></span>
                            </th>
                            <th style="width: 20%" jhiSortBy="email">
                                <span jhiTranslate="userManagement.email"></span>
                                <span class="fa fa-sort order-by-class"></span>
                            </th>
                            <th style="width: 8%">
                                <span jhiTranslate="userManagement.rol"></span>
                            </th>
                            <th style="width: 12%">
                                <span jhiTranslate="userManagement.organismos"></span>
                            </th>
                        </tr>
                    </thead>
                    <ng-container *ngIf="users">
                        <ng-container *ngFor="let user of users; trackBy: trackIdentity">
                            <tbody>
                                <ng-container *ngIf="user.isAdmin">
                                    <tr [ngClass]="{ 'entity-deleted': !!user.deletionDate }" [routerLink]="['../user-management', user.login]">
                                        <td>{{ user.login }}</td>
                                        <td>{{ user.nombre }}</td>
                                        <td>{{ user.apellido1 }}</td>
                                        <td>{{ user.apellido2 }}</td>
                                        <td>{{ user.email }}</td>
                                        <td><span class="badge badge-info">ADMIN</span></td>
                                        <td></td>
                                    </tr>
                                </ng-container>
                                <ng-container *ngIf="!user.isAdmin">
                                    <ng-container *ngFor="let role of getRolesInGroupedMap(getUserOrganismGroupByRole(user.usuarioRolOrganismo)); let i_role = index">
                                        <ng-container *ngFor="let organism of getUserOrganismGroupByRole(user.usuarioRolOrganismo).get(role); let i = index">
                                            <tr [ngClass]="{'fix_spanning_row': i_role > 0 || i > 0}" [routerLink]="['../user-management', user.login]">
                                                <ng-container *ngIf="i_role === 0 && i === 0">
                                                    <td [attr.rowspan]="user.usuarioRolOrganismo.length">{{ user.login }}</td>
                                                    <td [attr.rowspan]="user.usuarioRolOrganismo.length">{{ user.nombre }}</td>
                                                    <td [attr.rowspan]="user.usuarioRolOrganismo.length">{{ user.apellido1 }}</td>
                                                    <td [attr.rowspan]="user.usuarioRolOrganismo.length">{{ user.apellido2 }}</td>
                                                    <td [attr.rowspan]="user.usuarioRolOrganismo.length">{{ user.email }}</td>
                                                </ng-container>
                                                <ng-container *ngIf="i === 0">
                                                    <td [attr.rowspan]="getUserOrganismGroupByRole(user.usuarioRolOrganismo).get(role).length">
                                                        <span class="badge badge-info">{{ role }}</span>
                                                    </td>
                                                    <td>{{ organism }}</td>
                                                </ng-container>
                                                <ng-container *ngIf="i > 0">
                                                    <td>{{ organism }}</td>
                                                </ng-container>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </tbody>
                        </ng-container>
                    </ng-container>
                </table>
            </div>
            <ac-pagination [(page)]="page" [(totalItems)]="totalItems" [(itemsPerPage)]="itemsPerPage" (onTransition)="transition()"></ac-pagination>
        </ng-container>

        <ng-template #emptyList>
            <ac-entity-list-empty></ac-entity-list-empty>
        </ng-template>
    </ng-container>
</div>
