<div *ngIf="audits" class="entity" acMakeFixedRoom>
    <div class="entity-header">
        <h2 jhiTranslate="audits.title"></h2>
        <div class="entity-search audits-search">
            <div class="entity-search-field audit-date-search-field">
                <label jhiTranslate="audits.filter.title"></label>
                <div class="form-group">
                    <span jhiTranslate="audits.filter.from" class="input-group-addon"></span>
                    <ac-calendar class="form-control" [(ngModel)]="fromDate" name="start" (onSelect)="onDatesChange()"></ac-calendar>
                    <span jhiTranslate="audits.filter.to" class="input-group-addon"></span>
                    <ac-calendar class="form-control" [(ngModel)]="toDate" name="end" (onSelect)="onDatesChange()" [maxDate]="today"></ac-calendar>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-condensed table-hover" acStickyTableHeader>
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th style="width: 20%" jhiSortBy="auditEventDate"><span jhiTranslate="audits.table.header.date"></span><span class="fa fa-sort order-by-class"></span></th>
                    <th style="width: 20%" jhiSortBy="principal"><span jhiTranslate="audits.table.header.principal"></span><span class="fa fa-sort order-by-class"></span></th>
                    <th style="width: 20%" jhiSortBy="auditEventType"><span jhiTranslate="audits.table.header.status"></span><span class="fa fa-sort order-by-class"></span></th>
                    <th style="width: 40%" jhiSortBy="data"><span jhiTranslate="audits.table.header.data"></span><span class="fa fa-sort order-by-class"></span></th>
                </tr>
            </thead>
            <tr *ngFor="let audit of audits">
                <td>
                    <span>{{ audit.timestamp | acDate: 'datetime' }}</span>
                </td>
                <td>
                    <small>{{ audit.principal }}</small>
                </td>
                <td>{{ audit.type }}</td>
                <td>
                    <span *ngIf="audit.data.message" ng-show="audit.data.message">{{ audit.data.message }}</span>
                    <span *ngIf="audit.data.remoteAddress" ng-show="audit.data.remoteAddress">
                        <strong><span jhiTranslate="audits.table.data.remoteAddress"></span></strong>&nbsp; {{ audit.data.remoteAddress }}
                    </span>
                    <span *ngIf="audit.data.code" ng-show="audit.data.code">
                        <strong><span jhiTranslate="audits.table.data.code"></span></strong>&nbsp; {{ audit.data.code }}
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div *ngIf="audits">
        <ac-pagination [(page)]="page" [(totalItems)]="totalItems" [(itemsPerPage)]="itemsPerPage" (onTransition)="transition()"></ac-pagination>
    </div>
</div>
