<div class="entity-search">
    <div class="entity-search-field">
        <label for="titulo" jhiTranslate="coetlApp.etl.filters.code.label"></label>
        <input
            class="form-control"
            [attr.aria-label]="'coetlApp.etl.filters.code.placeholder' | translate"
            placeholder="{{ 'coetlApp.etl.filters.code.placeholder' | translate }}"
            [(ngModel)]="filters.code"
            (keyup)="filter()"
        />
    </div>

    <div class="entity-search-field">
        <label for="name" jhiTranslate="coetlApp.etl.filters.name.label"></label>
        <input
            class="form-control"
            [attr.aria-label]="'coetlApp.etl.filters.name.placeholder' | translate"
            placeholder="{{ 'coetlApp.etl.filters.name.placeholder' | translate }}"
            [(ngModel)]="filters.name"
            (keyup)="filter()"
        />
    </div>

    <div class="entity-search-field">
        <label for="organizationInCharge" jhiTranslate="coetlApp.etl.filters.organizationInCharge.label"></label>
        <input
            class="form-control"
            [attr.aria-label]="'coetlApp.etl.filters.organizationInCharge.placeholder' | translate"
            placeholder="{{ 'coetlApp.etl.filters.organizationInCharge.placeholder' | translate }}"
            [(ngModel)]="filters.organizationInCharge"
            (keyup)="filter()"
        />
    </div>

    <div class="entity-search-field">
        <label for="type" jhiTranslate="coetlApp.etl.filters.type.label"></label>
        <ac-autocomplete-enum
            name="type"
            [(ngModel)]="filters.type"
            [suggestionsEnum]="typeEnum"
            [translationPath]="'coetlApp.etl.type.'"
            (onSelect)="filter()"
            (onUnselect)="filter()"
        ></ac-autocomplete-enum>
    </div>

    <div class="entity-search-field">
        <label jhiTranslate="coetlApp.etl.filters.isPlanned"></label><br />
        <ac-tri-input-switch [(ngModel)]="filters.isPlanned" (onChange)="filter()" [options]="options"></ac-tri-input-switch>
    </div>

    <div class="entity-search-field">
        <label jhiTranslate="coetlApp.etl.lastExecution.label"></label>
        <ac-calendar class="form-control" [(ngModel)]="filters.lastExecution" (onSelect)="filter()"></ac-calendar>
    </div>
    <div class="entity-search-field">
        <label jhiTranslate="coetlApp.etl.nextExecution.label"></label>
        <ac-calendar class="form-control" [(ngModel)]="filters.nextExecution" (onSelect)="filter()"></ac-calendar>
    </div>
    <div class="entity-search-field">
        <label jhiTranslate="coetlApp.execution.executionResult.label"></label>
        <ac-autocomplete-enum
            name="lastExecutionByResult"
            [(ngModel)]="filters.lastExecutionByResult"
            [suggestionsEnum]="resultExecutionEnum"
            [translationPath]="'coetlApp.execution.result.'"
            (onSelect)="filter()"
            (onUnselect)="filter()"
        ></ac-autocomplete-enum>
    </div>

    <div class="entity-search-field">
        <label jhiTranslate="coetlApp.etl.filters.includeDeleted"></label>
        <ac-tri-input-switch [(ngModel)]="filters.includeDeleted" (onChange)="filter()" [required]="true"></ac-tri-input-switch>
    </div>

    <div class="entity-search-field-btn">
        <button class="btn btn-default" (click)="resetFilters()">
            <i class="fa fa-times"></i>
            <span jhiTranslate="entity.action.filtersReset"></span>
        </button>
    </div>
</div>
