<div class="modal-header">
    <h4 class="modal-title" id="showHealthLabel">
        {{ !currentHealth.details?.custom ? ('health.indicator.' + baseName(currentHealth.name) | translate) : currentHealth.name }} {{ subSystemName(currentHealth.name) }}
    </h4>
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="close()"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
    <div *ngIf="currentHealth.details">
        <h5 jhiTranslate="health.details.properties"></h5>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th style="width: 40%" class="text-left" jhiTranslate="health.details.name"></th>
                        <th style="width: 60%" class="text-left" jhiTranslate="health.details.value"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let entry of currentHealth.details | keys">
                        <td class="text-left">{{ entry.key }}</td>
                        <td class="text-left">{{ readableValue(entry.value) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="currentHealth.error">
        <h4 jhiTranslate="health.details.error"></h4>
        <pre>{{ currentHealth.error }}</pre>
    </div>
</div>
<div class="modal-footer">
    <button data-dismiss="modal" class="btn btn-secondary float-left" type="button" (click)="activeModal.dismiss('closed')">
        <span jhiTranslate="entity.action.close"></span>
    </button>
</div>
