<p-calendar
    [(ngModel)]="date"
    [name]="name"
    [dateFormat]="dateFormat"
    [placeholder]="placeholder"
    (onSelect)="onSelectMethod($event)"
    [required]="required"
    [minDate]="minDate"
    [maxDate]="maxDate"
    [locale]="locale"
    [showTime]="showTime"
    #calendarInput="ngModel"
    (onFocus)="onModelTouched()"
    (onClose)="onModelTouched()"
    (onClearClick)="onModelTouched()"
    (onInput)="onInputMethod($event)"
    [disabled]="disabled"
></p-calendar>
<div *ngIf="(calendarInput.dirty || calendarInput.touched) && calendarInput.invalid" class="entity-field-error">
    <small class="form-text text-danger" *ngIf="calendarInput.errors?.required" jhiTranslate="entity.validation.required"> </small>
    <small class="form-text text-danger" *ngIf="calendarInput.errors?.Instantlocal" jhiTranslate="entity.validation.Instantlocal"> </small>
</div>
