<fieldset *ngIf="hasAudit()">
    <h3 jhiTranslate="entity.audits.title"></h3>
    <div class="entity-fields">
        <dl class="jh-entity-details">
            <dt>
                <label jhiTranslate="entity.audits.createdBy"></label>
            </dt>
            <dd>{{ entity.createdBy }}</dd>
        </dl>
        <dl class="jh-entity-details">
            <dt>
                <label jhiTranslate="entity.audits.createdDate"></label>
            </dt>
            <dd>{{ entity.createdDate | acDate: 'datetime' }}</dd>
        </dl>
        <dl class="jh-entity-details">
            <dt>
                <label jhiTranslate="entity.audits.lastModifiedBy"></label>
            </dt>
            <dd>{{ entity.lastModifiedBy }}</dd>
        </dl>
        <dl class="jh-entity-details">
            <dt>
                <label jhiTranslate="entity.audits.lastModifiedDate"></label>
            </dt>
            <dd>{{ entity.lastModifiedDate | acDate: 'datetime' }}</dd>
        </dl>
        <ng-container *ngIf="canShowDeletionAuditing()">
            <dl class="jh-entity-details">
                <dt>
                    <label jhiTranslate="entity.audits.deletedBy"></label>
                </dt>
                <dd>{{ entity.deletedBy }}</dd>
            </dl>
            <dl class="jh-entity-details">
                <dt>
                    <label jhiTranslate="entity.audits.deletionDate"></label>
                </dt>
                <dd>{{ entity.deletionDate | acDate: 'datetime' }}</dd>
            </dl>
        </ng-container>
    </div>
</fieldset>
