<ac-side-menu [parent]="instance"></ac-side-menu>
<div *ngIf="allConfiguration && configuration" class="entity" #titlesContainer acMakeFixedRoom>
    <div class="entity-header">
        <h2 jhiTranslate="configuration.title"></h2>

        <div class="entity-search">
            <div class="entity-search-field">
                <label jhiTranslate="configuration.filter"></label>
                <input type="text" [(ngModel)]="filter" class="form-control" />
            </div>
        </div>
    </div>
    <h3 jhiTranslate="configuration.spring"></h3>
    <div class="table-responsive">
        <table class="table table-hover d-table">
            <thead>
                <tr>
                    <th style="width: 20%" (click)="orderProp = 'prefix'; reverse = !reverse"><span jhiTranslate="configuration.table.prefix"></span></th>
                    <th style="width: 80%" (click)="orderProp = 'properties'; reverse = !reverse"><span jhiTranslate="configuration.table.properties"></span></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entry of configuration | pureFilter: filter:'prefix' | orderBy: orderProp:reverse">
                    <td>
                        <span>{{ entry.prefix }}</span>
                    </td>
                    <td>
                        <div class="row" *ngFor="let key of keys(entry.properties)">
                            <div class="col-md-4">{{ key }}</div>
                            <div class="col-md-8">
                                <span class="float-right badge badge-default break">{{ entry.properties[key] | json }}</span>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngFor="let key of keys(allConfiguration)">
        <h3>
            <span>{{ key }}</span>
        </h3>
        <div class="table-responsive">
            <table class="table table-sm table-hover d-table">
                <thead>
                    <tr>
                        <th style="width: 20%"><span jhiTranslate="configuration.table.prefix"></span></th>
                        <th style="width: 80%"><span jhiTranslate="configuration.table.properties"></span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of allConfiguration[key] | pureFilter: filter:'key'">
                        <td class="break">{{ item.key }}</td>
                        <td class="break">
                            <span class="float-right badge badge-default break">{{ item.val }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
