<div class="entity" acMakeFixedRoom>
    <div class="entity-header">
        <h2>
            <span jhiTranslate="coetlApp.etl.home.title"></span>
            <div *ngIf="showCreateButton">
                <button class="btn btn-primary jh-create-entity create-etl" [routerLink]="['../etl-new']">
                    <span class="fa fa-plus"></span>
                    <span jhiTranslate="coetlApp.etl.home.createLabel"> </span>
                </button>
            </div>
        </h2>
        <ac-etl-search [filters]="filters"></ac-etl-search>
    </div>
    <ac-spinner *ngIf="!etls"></ac-spinner>
    <ng-container *ngIf="etls">
        <ng-container *ngIf="etls.length > 0; else emptyList">
            <div class="table-responsive">
                <table class="table table-hover" acStickyTableHeader>
                    <thead>
                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                            <th style="width: 15%" jhiSortBy="code">
                                <span jhiTranslate="coetlApp.etl.code.label"></span>
                                <span class="fa fa-sort order-by-class"></span>
                            </th>
                            <th style="width: 25%" jhiSortBy="name">
                                <span jhiTranslate="coetlApp.etl.name.label"></span>
                                <span class="fa fa-sort order-by-class"></span>
                            </th>
                            <th style="width: 25%" jhiSortBy="organismo">
                                <span jhiTranslate="coetlApp.etl.organizationInCharge.label"></span>
                                <span class="fa fa-sort order-by-class"></span>
                            </th>
                            <th style="width: 10%" jhiSortBy="type">
                                <span jhiTranslate="coetlApp.etl.type.label"></span>
                                <span class="fa fa-sort order-by-class"></span>
                            </th>
                            <th style="width: 10%">
                                <span jhiTranslate="coetlApp.etl.planning.label"></span>
                            </th>
                            <th style="width: 10%">
                                <span jhiTranslate="coetlApp.etl.lastExecution.label"></span>
                            </th>
                            <th style="width: 10%">
                                <span jhiTranslate="coetlApp.etl.nextExecution.label"></span>
                            </th>
                            <th style="width: 10%">
                                <span jhiTranslate="coetlApp.execution.executionResult.label"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngIf="organismos">
                        <tr [ngClass]="{ 'entity-deleted': etl.isDeleted() }" *ngFor="let etl of etls; trackBy: trackId" [routerLink]="['../etl', etl.id]">
                            <td>{{ etl.code }}</td>
                            <td>{{ etl.name }}</td>
                            <td>{{ etl.organizationInCharge?.name }}</td>
                            <td>
                                <span class="badge badge-info">{{ getTypeName(etl) }}</span>
                            </td>
                            <td>
                                <span class="badge" [ngClass]="{ 'badge-success': etl.isPlanning(), 'badge-warning': !etl.isPlanning() }">{{ getPlanningMessage(etl) }}</span>
                            </td>
                            <td>{{etl.lastExecution | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                            <td>{{etl.nextExecution | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                            <td>
                                <span class="badge" [ngClass]="getResultBadgeClass(etl.result)">{{ getResultName(etl.result) }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <ac-pagination [(page)]="page" [(totalItems)]="totalItems" [(itemsPerPage)]="itemsPerPage" (onTransition)="transition()"></ac-pagination>
        </ng-container>
        <ng-template #emptyList>
            <ac-entity-list-empty></ac-entity-list-empty>
        </ng-template>
    </ng-container>
</div>
